<head>
    <!--用UTF-8編碼，並引入CSS文件-->
    <meta charset="UTF-8">
    <title>Web Learning</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--新增字體-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <!-- 自動調整為設備寬度，確保不同裝置都有良好的顯示效果 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>