<header class="header-container">
    
    <div class="header_1">
        <menu class="menu_1">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/project">Project</a>
        </menu>
    </div>

    <div class="header_2">
        <menu class="menu_2">
            <a href="/login">Login</a>
        </menu>
    </div>

</header>