
<html>
    <%- include('partials/head') %>
    <%- include('partials/header') %>


    <body>
        <form id="login_information" action="/register" method="POST">
            <label for="name">Enter your name:</label>
            <input class="input" type="text" id="username" name="username">
            <label for="name">Enter your password:</label>
            <input class="input" type="password" id="password" name="password">
            <label for="email">email</label>
            <input class="input" type="email" id="email" name="email">

            <button class="Comfirm" type="submit">Comfirm</button>
        </form>
    </body>
</html>
