.kode-mono {
    font-family: "Kode_Mono", monospace;
    /*修改字體*/
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header-container {
    display: flex;
    width: 100%; 
    align-items: center; 
}

.header_1 {
    margin-right: auto;
    margin-left: auto;
}

.header_2 {
    padding-right: 100px;
}

body {
    background-color: #b4b2b2;
    height: 100%;
    width: auto;
    display: flex;
    /*設menu為彈性容器*/
    flex-direction: column;
    /* 將物件垂直擺放 */
    border: 2px solid black;
    padding: 15px;
}

div {
    background-color: #b4b2b2;
    display: flex;
    /*設menu為彈性容器*/
    justify-content: center;
    /* 將物件水平置中 */
    padding: 15px;
    border: 2px solid rgb(139, 59, 59);
}

.menu_1 {
    width: 600px;
    background: white;
    display: flex;
    /*設menu為彈性容器*/
    justify-content: space-around;
    /*將內容平均分配於容器中*/
    padding: 5px;
    /*文字與容器的距離*/
    border-radius: 22px;
    /*容器變圓角*/
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    /*容器加入陰影*/
}

a {
    color: black;
    /*文字顏色*/
    text-decoration: none;
    /*取消底線*/
    padding: 8px 16px;
    /*文字與a容器的距離*/
    border-radius: 22px;
    /*容器變圓角*/
}

a:hover {
    transition: 0.25s;
    /*摸到時的延遲*/
    background: #a988f1;
    /*摸到後的背景顏色改變*/
    color: white;
    /*文字顏色*/
}

.menu_2 {
    width: auto;
    background: white;
    display: flex;
    /*設menu為彈性容器*/
    justify-content: space-around;
    /*將內容平均分配於容器中*/
    padding: 5px;
    /*文字與容器的距離*/
    border-radius: 22px;
    /*容器變圓角*/
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    /*容器加入陰影*/
}


/* .header_1 {
    display: flex;
} */



@media screen and (max-width: 600px) {
    a {
        width: 100px;
        /* 當寬度小於 600px 時，設置寬度為 100px */
        height: 100px;
        /* 當寬度小於 600px 時，設置高度為 100px */
    }
}

.input {
    border-radius: 22px;
    padding: 8px;
}

.Comfirm {
    border-radius: 22px;
    padding: 8px;
}